# Node
node_modules/
npm-debug.log*
yarn-error.log*
dist/
coverage/

# Runtime/Cache
*.log
*.sqlite
*.db
.DS_Store

# Environment / local config
.env
.env.local
db.json

# OS/Editor
*.swp
.idea/
.vscode/
